*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
#root{
  position: relative;
  --black: #514747;
  --blue: #2A4158;
  --light-blue: #597387;
  --gray-blue: #8C9EA3;
  --light-yellow: #958A56;
  --off-white: #F5EDED;
}
/* div{
  border: 1px solid black;
} */


