@font-face{
  font-family: 'Open Sans';
  src: url('./images/Open_Sans/OpenSans-Regular.ttf')
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}
body{
  overflow-x: hidden;
}

#root{
  position: relative;
  --black: #514747;
  --blue: #2A4158;
  --lb: #597387;
  --gb: #8C9EA3;
  --ly: #958A56;
  --white: #F5EDED;
}
/* div{
  border: 1px solid black;
} */


